$primary-grey-color: #2a2a2a;
$secondary-grey-color: #e9eaed;
$primary-red-color: #e9573f;

$primary-text-color: #636e7b;
$secondary-text-color:#888888;
$dark-text-color: #777777;
$light-text-color: #999999;
$active-text-color:#d0d0d0;


//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width:1024px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}